html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #2c3e50, #34495e); /* Darker gradient colors */
    color: #ecf0f1; /* Lighter text color for contrast */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body covers entire viewport height */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for the header */
    color: #ecf0f1;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 3em; /* Larger font size for emphasis */
    color: #0eb2db; /* Light color for contrast */
    text-align: left; /* Center the text */
    letter-spacing: 3px; /* Add some spacing between letters */
    text-shadow: 4px 4px 8px rgb(19, 143, 102); /* Shadow for depth */
    font-weight: 700; /* Make font bold */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex: 1; /* Flex-grow: 1 to make sure it takes remaining space */
    padding: 20px 0;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: #ecf0f1; /* Text color on top of the gradient */
    font-size: 2.5em; /* Increase font size */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Add letter spacing for emphasis */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
    margin-bottom: 20px; /* Add some spacing below the heading */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for the footer */
    color: #ecf0f1;
    text-align: center;
    padding: 0px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: #ecf0f1; /* Update text color for consistency */
}

.hobby {
    margin-bottom: 30px;
}

.hobby h3 {
    color: #ecf0f1; /* Update text color for consistency */
    font-size: 1.5em;
}

.hobby p {
    color: #bdc3c7; /* Lighter gray for hobby descriptions */
}

/* From Uiverse.io by kleenpulse */ 
.btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: 0.125em;
    --curve-size: 0.5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    cursor: pointer;
    /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: 0.5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    clip-path: polygon(
      /* Top-left */ 0% var(--curve-size),
      var(--curve-size) 0,
      /* top-right */ 100% 0,
      100% calc(100% - var(--curve-size)),
      /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
      /* bottom-right 2 */ 0 100%
    );
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: "";
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%;
    }
  
    50% {
      background-position: 70% 100%;
    }
  
    100% {
      background-position: 31% 0%;
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
      /* Top-left */ var(--border-width)
        calc(var(--curve-size) + var(--border-width) * 0.5),
      calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
    );
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
      /* Top-left */ calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      calc(100% - var(--border-width)) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width))
    );
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
  }
  
